<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
</head>
<body>
  <!-- <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
    </ul>
  </nav> -->
  <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <% if (user.member_status === 'member') { %>
      <h2>you are a member!</h2>
      <a href="/new-post">CREATE A NEW POST</a> <br>
      <a href="/posts">VIEW ALL POSTS</a> <br>
    <% } else { %>
      <h2>you are not a member. enter the secret code to become a member!</h2>
      <a href="/secret">ENTER SECRET CODE</a> <br>
    <% } %>
    <a href="/log-out">LOG OUT</a>
  <% } else { %>
    <h1>please log in or <a href="/sign-up">sign up</a></h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit">Log In</button>
    </form>
  <%}%>
</body>
</html>
