<nav>
    <a href="/">Home</a> |
    <a href="/posts">View All Posts</a> |
    <a href="/log-out">Log Out</a>
</nav>
<h1>Create a New Post</h1>
<% if (typeof errors !== 'undefined') { %>
            <div class="error-container">
            <ul>
                <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
                <% }) %>
            </ul>
            </div>
<% } %>
<form action="/posts/new" method="POST">
    <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required rows="5" maxlength="1000"></textarea>
    </div>
    <button type="submit">Post Message</button>
</form>