<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/sign-up" method="POST">
    <label for="first_name">First Name</label>
    <input id="first_name" name="first_name" placeholder="First Name" type="text" required/>
    <label for="last_name">Last Name</label>
    <input id="last_name" name="last_name" placeholder="Last Name" type="text" required/>
    <label for="username">Username (E-Mail)</label>
    <input id="username" name="username" placeholder="Username" type="text" required/>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required/>
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>
