<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Sign Up</title>
</head>
<body>
  <div id="signup-container">
    <h1>Sign Up</h1>
    <form action="/sign-up" method="POST">
      <label for="first_name">First Name</label>
      <input id="first_name" name="first_name" placeholder="First Name" type="text" required/>
      <label for="last_name">Last Name</label>
      <input id="last_name" name="last_name" placeholder="Last Name" type="text" required/>
      <label for="username">Username (E-Mail)</label>
      <input id="username" name="username" placeholder="Username" type="email" required/>
      <label for="password">Password</label>
      <input id="password" name="password" type="password" required/>
      <label for="confirm_password">Confirm Password</label>
      <input id="confirm_password" name="confirm_password" type="password" required/>
      <button type="submit">Sign Up</button>
    </form>
  </div>
</body>
</html>
